## preferences.html
<%inherit file="../base.html" />

<%def name="content()">

    <h1>Add Record to ${mem_name}</h1>

    <form action="/records/submitadd/${mem_id}/" method="post">
        <fieldset>

        <table class="form">
            <tr>
                <td><label for="source">Source (*)</label></td>
                <td>
                    <textarea name="source" id="source"></textarea>
                </td>
            </tr>

            <tr>
                <td><label for="trans">Translation (*)</label></td>
                <td>
                    <textarea name="trans" id="trans"></textarea>
                </td>
            </tr>

            <tr>
                <td><label for="context">Context</label></td>
                <td>
                    <textarea name="context" id="context"></textarea>
                </td>
            </tr>
            <tr>
                <td><label for="reliability">Reliability</label></td>
                <td>
                    <select name="reliability" id="reliability">
                        % for i in range(10):
                        <option
                            value="${i}"
                            >${i}
                        </option>
                        % endfor
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input
                    type="checkbox"
                    name="validated"
                    /> Validated<br />
                </td>
            </tr>

        </table>

        </fieldset>

        <br clear="all" />
        <div style="float:right;">
            <input type="submit" value="Add" />
        </div>
    </form>

<div style="margin-top: 20px">
<ul>
    <li><a href="/${dirname}/view/${mem_id}">View ${mem_name}</a></li>
</ul>
</div>

</%def>

<%def name="javascript()">
<script type="text/javascript">
$(function()
  {$("#source").focus();}
  );
</script>
</%def>
