<%inherit file="base.html" />

<%def name="content()">

${msg}

<h1>Add User</h1>


<form action="/users/submitadd" method="post">
    <table class="form">
        <tr>
            <td><label for="name">User name</label></td>
            <td><input name="name" type="text" id="name" value="" /></td>
        </tr>

        <tr>
            <td><label for="role">Role</label></td>
            <td><select name="role">
                    <option value="guest">Guest</option>
                    <option value="user" selected="true">User</option>
                    <option value="admin">Admin</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="password">Password</label></td>
            <td><input name="password" type="password" id="password" value="" /></td>
        </tr>

        <tr>
            <td><label for="confirm">Confirm Password</label></td>
            <td><input name="confirm" type="password" id="confirm" value="" /></td>
        </tr>
    </table>

    <input type="submit" value="Create Account" />
</form>

<h2>Actions</h2>
<ul>
    <li><a href="/users/">List Users</a></li>
</ul>

</%def>
