<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;CHARSET=utf-8"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>

<h1>AnalyzeAssist version {{version}}</h1>

<p>Build date: {{build_date}}</p>

<p>Copyright &copy; Ginstrom IT Solutions</p>

<P>View <A href="#on_license">License</A></P>

<P>For more information about AnalyzeAssist, visit <A
        href="#onAAHomePage">http://www.ginstrom.com/AnalyzeAssist/</A>.</P>

</body>
</html>